<h5 class="music-track-title"><perch:content id="heading" type="text" label="Track Title" required="true" title="true" /></h5>
<audio controls preload="none">
  <source src="http://digital.invisibleartists.com.au/dev/alp01/downloads/<perch:content id="audiomp3" type="text" label="The name of the MP3 File" required="true" order="3" />" />
  <source src="http://digital.invisibleartists.com.au/dev/alp01/downloads/<perch:content id="audioogg" type="text" label="The name of the Ogg File" required="true" order="4" />" />
  Your browser does not support the <code>audio</code> element.
</audio>
<p class="music-track-description"><perch:content id="excerpt" type="text" label="Music Description" textile="true" editor="markitup" required="true" help="A short description of the embedded audio." /></p>
