
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteEngine On
RewriteCond %{QUERY_STRING} !^desktop
RewriteCond %{HTTP_USER_AGENT} "ipad|android|blackberry|googlebot-mobile|iemobile|iphone|ipod|#opera mobile|palmos|webos" [NC]
RewriteRule ^$ http://www.faust-musical.com/mobile [L,R=302]

# RewriteCond %{REQUEST_URI} !^/mobile.*$
# RewriteCond %{HTTP_USER_AGENT} "android|blackberry|ipad|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
# RewriteRule ^(.*)$ /mobile [L,R=302]

# BEGIN (mt) controlled settings
<IfModule pagespeed_module>
  ModPagespeed off
</IfModule>
# END (mt) controlled settings

# HTML5 MIME type support
AddType audio/mpeg .mp3
AddType audio/ogg .ogg

# Font MIME type support
AddType application/vnd.ms-fontobject    .eot
AddType application/x-font-opentype      .otf
AddType image/svg+xml                    .svg
AddType application/x-font-ttf           .ttf
AddType application/font-woff            .woff
