html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	min-height:100%;
	font-family:Artial, Verdana, sans-serif;
}

body {
	background: #eeeeee;
	background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: linear-gradient(top, #eeeeee, #cccccc 100%);
	background-attachment:fixed;
}

ol, ul {
	list-style: none;
}

p {
	color: #fff;
	/*margin:1em 0;*/
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size:2.91em;
	margin:0;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:1.91em;
	margin:2em 0 1em 0;
}

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
}

#progress {
	height:2%;
	background:#444;
	bottom:0;
	z-index:200;
}

#scrollbar {
	position:fixed;
	right:2px;
	height:50px;
	width:6px;
	background:#444;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.6);
	z-index:300;
	border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

#bg1, #bg2, #bg3 {
	z-index:50;
	top:0;
	left:0;
	width:100%;
	height:100%;
	/*background:url(images/bubbles.png) repeat 0 0;*/
}

#bg2 {
	z-index:49;
	/*background-image:url(images/bubbles2.png);*/
}

#bg3 {
	z-index:48;
	/*background-image:url(images/bubbles3.png);*/
}

.intro {
	height:800px;
	/*width: 1440px;*/
}
.all-scenes {
	max-width:1440px;
	display: block;
	overflow: hidden;
	position: relative;
	height: 100%;
	margin: auto;
}
#intro, #scene1, #scene2, #scene3, #scene4 {
	width:100%;
	/*top:1em;*/
	margin:auto;
	/*padding:2em;*/
	/*background:#fff;*/
	text-align:center;
	/*border-radius:1em;*/

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#intro .arrows {
	font-size:2em;
	color:#09f;
}

#transform {
	width:70%;
	left:50%;
	top:20%;
	margin-left:-35%;
	text-align:center;
	font-size:150%;

	.transform-origin(50%, 50%);
}

#properties {
	width:100%;
	height:100%;
	padding-top:10%;
	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#easing_wrapper {
	width:100%;
	height:100%;
}

#easing {
	top:10%;
	width:50%;
	z-index:101;
}

.drop {
	background:#09f;
	font-weight:bold;
	padding:1em;
}

#download {
	width:80%;
	left:10%;
	height:80%;
	padding:3em;
	border:0 solid #222;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/***************** $GRADIENTS **************/
.gradient-1  /* Floods from start of intro to the end of Part 1 */ {
background: -moz-linear-gradient(top,  rgba(0,0,0,0.95) 0%, rgba(23,25,29,0.93) 10%, rgba(90,12,7,0.9) 25%, rgba(112,7,0,0.9) 30%, rgba(112,7,0,0.85) 75%, rgba(112,7,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.95)), color-stop(10%,rgba(23,25,29,0.93)), color-stop(25%,rgba(90,12,7,0.9)), color-stop(30%,rgba(112,7,0,0.9)), color-stop(75%,rgba(112,7,0,0.85)), color-stop(100%,rgba(112,7,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.95) 0%,rgba(23,25,29,0.93) 10%,rgba(90,12,7,0.9) 25%,rgba(112,7,0,0.9) 30%,rgba(112,7,0,0.85) 75%,rgba(112,7,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.95) 0%,rgba(23,25,29,0.93) 10%,rgba(90,12,7,0.9) 25%,rgba(112,7,0,0.9) 30%,rgba(112,7,0,0.85) 75%,rgba(112,7,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.95) 0%,rgba(23,25,29,0.93) 10%,rgba(90,12,7,0.9) 25%,rgba(112,7,0,0.9) 30%,rgba(112,7,0,0.85) 75%,rgba(112,7,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.95) 0%,rgba(23,25,29,0.93) 10%,rgba(90,12,7,0.9) 25%,rgba(112,7,0,0.9) 30%,rgba(112,7,0,0.85) 75%,rgba(112,7,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#00700700',GradientType=0 ); /* IE6-9 */
	/* Spotlight gradient from .palette-near-black to .palette-blood-red: http://www.colorzilla.com/gradient-editor/#000000+0,17191d+10,700700+30,700700+100&0.95+0,0.9+25,0.85+75,0+100;Custom */
}

.gradient-2  /* Floods from the start to the end of Part 2 */ {
background: -moz-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(23,25,29,0.9) 15%, rgba(53,19,48,0.8) 75%, rgba(112,7,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(15%,rgba(23,25,29,0.9)), color-stop(75%,rgba(53,19,48,0.8)), color-stop(100%,rgba(112,7,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(23,25,29,0.9) 15%,rgba(53,19,48,0.8) 75%,rgba(112,7,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(23,25,29,0.9) 15%,rgba(53,19,48,0.8) 75%,rgba(112,7,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(23,25,29,0.9) 15%,rgba(53,19,48,0.8) 75%,rgba(112,7,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.9) 0%,rgba(23,25,29,0.9) 15%,rgba(53,19,48,0.8) 75%,rgba(112,7,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#700700',GradientType=0 ); /* IE6-9 */
	/* http://www.colorzilla.com/gradient-editor/#000000+0,17191d+25,351330+75,700700+100&0.9+0,0.9+25,0.8+75,1+100;Custom */
}

.gradient-3  /* Floods from the start to the end of Part 3 */ {
background: -moz-linear-gradient(top,  rgba(112,7,0,0.6) 0%, rgba(53,19,48,0.6) 25%, rgba(53,19,48,0.6) 75%, rgba(0,0,0,0.25) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,7,0,0.6)), color-stop(25%,rgba(53,19,48,0.6)), color-stop(75%,rgba(53,19,48,0.6)), color-stop(100%,rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(112,7,0,0.6) 0%,rgba(53,19,48,0.6) 25%,rgba(53,19,48,0.6) 75%,rgba(0,0,0,0.25) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(112,7,0,0.6) 0%,rgba(53,19,48,0.6) 25%,rgba(53,19,48,0.6) 75%,rgba(0,0,0,0.25) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(112,7,0,0.6) 0%,rgba(53,19,48,0.6) 25%,rgba(53,19,48,0.6) 75%,rgba(0,0,0,0.25) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(112,7,0,0.6) 0%,rgba(53,19,48,0.6) 25%,rgba(53,19,48,0.6) 75%,rgba(0,0,0,0.25) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#700700', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
	/* Spotlight gradient from .palette-blood-red to .palette-deep-purple: http://www.colorzilla.com/gradient-editor/#700700+0,351330+25,351330+75,000000+100&1+0,0.6+25,0.6+75,0.25+100;Custom */

}

.body-gradient-flood {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
/**************** FAUST FALLING ***************/
.faust-falling {
	left: 50%;
	margin-left: -250px;
	z-index: 150;
	position: fixed;
	display: none;
    width: 500px;
    height: 378px;
    background: url(images/sprite-faust-falling.png) no-repeat;
    -webkit-animation: faustsprite 1.5s steps(18) infinite alternate, faustwobble 8s 6s infinite alternate;
       -moz-animation: faustsprite 1.5s steps(18) infinite alternate, faustwobble 8s 6s infinite alternate;
        -ms-animation: faustsprite 1.5s steps(18) infinite alternate, faustwobble 8s 6s infinite alternate;
         -o-animation: faustsprite 1.5s steps(18) infinite alternate, faustwobble 8s 6s infinite alternate;
            animation: faustsprite 1.5s steps(18) infinite alternate, faustwobble 8s 6s infinite alternate;
}

	/* faust-falling.png - 18 frames @ 12fps = 1.5s over 9000px / 500x378 */
	@-webkit-keyframes faustsprite {
	   from { background-position:    0px; }
	    to { background-position: -9000px; }
	}

	@-moz-keyframes faustsprite {
	   from { background-position:    0px; }
	    to { background-position: -9000px; }
	}

	@-ms-keyframes faustsprite {
	   from { background-position:    0px; }
	    to { background-position: -9000px; }
	}

	@-o-keyframes faustsprite {
	   from { background-position:    0px; }
	    to { background-position: -9000px; }
	}

	@keyframes faustsprite {
	   from { background-position:    0px; }
	    to { background-position: -9000px; }
	}

	@-webkit-keyframes faustgrow {
	   from { -webkit-transform:scale(1.0); }
	   to { -webkit-transform:scale(0.9); }
	}

	@-moz-keyframes faustgrow {
	   from { -moz-transform:scale(1.0); }
	   to { -moz-transform:scale(0.9); }
	}

	@-ms-keyframes faustgrow {
	   from { -ms-transform:scale(1.0); }
	   to { -ms-transform:scale(0.9); }
	}

	@-o-keyframes faustgrow {
	   from { -o-transform:scale(1.0); }
	   to { -o-transform:scale(0.9); }
	}

	@keyframes faustgrow {
	   from { transform:scale(1.0); }
	   to { transform:scale(0.9); }
	}

	@-webkit-keyframes faustwobble {
		20% { -webkit-transform: rotate(3deg); }
		40% { -webkit-transform: rotate(-5deg); }
		60% { -webkit-transform: rotate(2deg); }
		80% { -webkit-transform: rotate(-2deg); }
		100% { -webkit-transform: rotate(0deg); }
	}

	@-moz-keyframes faustwobble {
		20% { -moz-transform: rotate(3deg); }
		40% { -moz-transform: rotate(-5deg); }
		60% { -moz-transform: rotate(2deg); }
		80% { -moz-transform: rotate(-2deg); }
		100% { -moz-transform: rotate(0deg); }
	}

	@-ms-keyframes faustwobble {
		20% { -ms-transform: rotate(3deg); }
		40% { -ms-transform: rotate(-5deg); }
		60% { -ms-transform: rotate(2deg); }
		80% { -ms-transform: rotate(-2deg); }
		100% { -ms-transform: rotate(0deg); }
	}

	@-o-keyframes faustwobble {
		20% { -o-transform: rotate(3deg); }
		40% { -o-transform: rotate(-5deg); }
		60% { -o-transform: rotate(2deg); }
		80% { -o-transform: rotate(-2deg); }
		100% { -o-transform: rotate(0deg); }
	}

	@keyframes faustwobble {
		20% { transform: rotate(3deg); }
		40% { transform: rotate(-5deg); }
		60% { transform: rotate(2deg); }
		80% { transform: rotate(-2deg); }
		100% { transform: rotate(0deg); }
	}
/************* COMMON ************/
.centered { top:0; bottom:0; left:0; right:0; margin:auto; }

/************* Title *************/
.title {
	text-align: center;
	width: 420px;
	margin:-212px auto 0;
	height:auto;
}

.quote, .loading-text {
	color: white;
}
.quote {
	font-style: italic;
}

.quote.sub {
	color:grey;
}

.loading-text {
	text-transform: uppercase;
}

.loading {
	margin:-15px 0 0;	
}

#title-logo {
	margin:30px auto;
	display: block;
	width: 421px;
	height: 191px;
	background: url('images/intro-title-blue.png');
}

/************ INTRO FACE ************/

.intro-face {
	height: 530px;
	width: 420px;
	margin: -42px auto 0;
	z-index: 3;
	position: relative;
}

.intro-face .intro-face-complete {
	background: url("images/face-complete.png") no-repeat;

	/*position: absolute;*/
	height: 100%;
	width: 100%;
	/*top: 0;*/
	/*left: 0;*/
	/*z-index: 4;*/
	opacity: 0.8;
}

.intro-face .intro-face-glow {
	background: url("images/face-glow.png") no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	opacity: 1;
}

.intro-face img.intro-face-lefteye {
	position: absolute;
	height: 21px;
	width: 52px;
	top: 234px;
	left: 95px;
	z-index: 6;
	opacity: 1;
}

.intro-face img.intro-face-righteye {
	position: absolute;
	height: 22px;
	width: 55px;
	top: 232px;
	left: 259px;
	z-index: 6;
	opacity: 1;
}

/************** SPOTLIGHT ************/
.intro-spotlights {
	position: absolute;
	top: 0;
	width: 100%;
	height: 120%;
}
	img.spotlight-left-outer {
	position: absolute;
		top: -100px;
		left: -5%;
		height: 200%;
	}
	img.spotlight-left-inner {
	position: absolute;
		top: -100px;
		height: 180%;
		left: 5%;
		opacity: 0.6;
	}
	img.spotlight-right-outer {
	position: absolute;
		top: -100px;
		right: -5%;
		height: 200%;
	}
	img.spotlight-right-inner {
	position: absolute;
		top: -100px;
		height: 180%;
		right: 5%;
		opacity: 0.6;
	}


/************* CITY ************/
.city {
	width: 100%;
	display: none;
	height: 8000px;
	position: relative;
}

.city-pre {
	width: 100%;
	height: 2400px;
	margin-top: -2400px;
}

.centered {
	/* c.f. $COMMON STYLES */
}

.scene1-layer {
	opacity: 0;
	height: 100%;
	position: inherit;
	background-size: contain !important;
	background-position: center bottom;
	background-color: transparent;
	background-repeat: no-repeat;
}



.city-centre-back {
	z-index: 11;
	margin: 0 auto;
	background:url(images/city-centre-back.png);
}

.city-left-back {
	width:942px;
	height: 8000px;
	z-index: 1;
	top:0;
	left: 0;
	background:url(images/city-left-back.png);
}

.city-right-mid {
	z-index: 12;
	right: 0;
	background:url(images/city-right-mid.png);
}

.city-left-mid {
	z-index: 13;
	left: 0;
	background:url(images/city-left-mid.png);
}

.city-right-fore {
	z-index: 14;
	right: 0;
	background:url(images/city-right-fore.png);
}

.city-left-fore {
	z-index: 15;
	left: 0;
	background:url(images/city-left-fore.png);
}


.city-centre-back,
.city-left-back,
.city-right-mid,
.city-left-mid,
.city-right-fore,
.city-left-fore {
	width: 100%;
	height:100%;
	background-repeat: no-repeat;
} 

.city-centre-back,
.city-left-back,
.city-right-mid,
.city-left-mid,
.city-right-fore,
.city-left-fore {
	display: inherit;
	position: inherit;
	width: 1255px;
	bottom: 0;
}

/***************** $ROOM SCENE 2 **************/

.room {
	width: 100%;
	height: 100%;
	height: 8000px;
	position: relative;
}
.room .cityscape-master {
	width: 1440px !important;
	height: 600px !important;
	display: none;
	position: absolute;

	z-index: 15;

}

.room .window-master {
	position: absolute;
	display: inherit;
	width: 2300px !important;
	height: 1785px !important;
	background: url(images/room-window-master.png) no-repeat;

	z-index: 22;

}

.cityscape-master .citylights-master {
	width: 100%;
	height: 100%;
	display: inherit;
	position: absolute;
	background: url(images/room-citylights-master.png) no-repeat;
	background-position: 50% 100%;

	z-index: 16;
}

.cityscape-master .sparklelights1-master {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	background: url(images/room-sparklelights1-master.png) no-repeat;
	background-position: 50% 40%;

	z-index: 16;
}

.room .room-master {
	position: absolute;
	display: inherit;
	width: 1920px !important;
	height: 1785px !important;
	background: url(images/room-master.png) no-repeat;

		z-index: 24;
}

.room .mephisto-master {
	left: 0;
	position: absolute;
	display: inherit;
	width: 300px !important;
	height: 1785px !important;
	background: url(images/room-mephisto-master.png) no-repeat;

	z-index: 25;
}

.room .faust-master {
	right: 0;
	position: absolute;
	display: inherit;
	width: 580px !important;
	height: 1785px !important;
	background: url(images/room-faust-master.png) no-repeat;

	z-index: 26;
}

/************* ALLEY ***********/
	.alley {
		width: 100%;
		display: none;
		height: 10000px;
		position: relative!important;
	}
	.alley .alley-master {
		display: none;
		position: absolute;
		width: 100% !important;
		height: 1825px !important;
		background: url(images/alley-master.jpg) no-repeat;

		z-index: 5;
	}
	.alley .alley-rain {
		background-size: cover;
		position: absolute;
	    display: block;
	    width: 100%;
	    height: 100%;
	    opacity: 1;

		-webkit-animation-direction: normal !important;
				animation-direction: normal !important;
	}

	.alley .alley-rain.rain-one {
		background: url(images/alley-rain-long.png) no-repeat;
		z-index: 22;
		-webkit-animation: rainsimple 13s 0.5s infinite;
	            animation: rainsimple 13s 0.5s infinite;
	}

	.alley .alley-rain.rain-two {
		background: url(images/alley-rain-long-fade.png) no-repeat;
		z-index: 23;
		-webkit-animation: rainsimple 25s 1.5s infinite;
	            animation: rainsimple 25s 1.5s infinite;
	}
		@keyframes rainsimple {
		0% {
			background-position: 50% 0%;
			opacity: 0;
		}
		50%{
			opacity: 1;
		}
		80%{
			opacity: 0.5;
		}
		100% {
			background-position: 50% 100%;
			opacity: 0;
		}
	}

	@-webkit-keyframes rainsimple {
		0% {
			background-position: 50% 0%;
			opacity: 0;
		}
		50%{
			opacity: 1;
		}
		80%{
			opacity: 0.5;
		}
		100% {
			background-position: 50% 100%;
			opacity: 0;
		}
}

/************* SCENES ***********/
.scene {
	/*height: auto;*/
	border: 1px solid white;
}

#scene0 {
	height:auto;
}

#scene1 {
	height:8000px;
}

#scene2 {
	height:10000px
}

#scene3 {
	height: 10000px;
}

.scene-layer {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100%;
	background-color: transparent;
	background-position: center bottom;
	background-repeat: no-repeat;

	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}

.scene-container {
	position: fixed;
	overflow:hidden;
	display: none;
	width: 1440px;
	height: 100%;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-ms-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
}

/* $INTERMISSIONS
================================================== */
section.intermission {
	display:block!important;
	width: 100%;
	height:auto;
	max-width: 1440px;
	margin: -25px auto 0 auto;
	padding: 0;
	z-index: 100;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.intermission-main {
	/*max-height:675px;*/
	padding: 50px 0 10px;
	background: url("images/newspaper-tile.jpg") 0px -2px repeat;
}
.intermission-content {
	overflow: hidden;
}
.intermission footer, .intermission header {
	background-image: url("images/sprite-newspaper.png");
}

.intermission header {
	height: 19px;
	background-position: 0px 1px;
}

.intermission footer {
	height: 55px;
	background-position: 0px -30px;
}

.intermission .headlines {
	display: block;
	overflow: hidden;
	padding:20px 0;
}

.intermission .headline {
	width: 100%;
	display: block;
}

.headline h2 {
	line-height: 0.76em;
}

.headline h3 {
	color: #700700!important;
	line-height: 0.8em;
}

.headline.title h4 {
	line-height: 1em;
}

.headline.left{
	text-align: right;
	width:20%;
}

.headline.right {
	text-align: left;
	width:80%;
}

.headline.title h2, .headline.title h4 {
	text-align: center;
}

.headline.left, .headline.right {
	float:left;
}

.news-lines {
	display: block;
	overflow:hidden;
	height: 2px;
	width: 100%;
	margin: 0 auto;
	border-top: 3px solid rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.news-lines.inner {
	width: 100%;
}

.narrative-text {
	margin: 42px 0;
}

.more-button {
	text-align: center;
}
