/* 	==================================================
	ALP01 - FAUST for AlphaCrucis Arts
	Design and Development by Invisible Artists

	================================================== */





/* $CONTENTS
==================================================
	$Palette
	$Fonts
	$Basics
	$Preloader
	$Typography
	$Buttons
	$Common
	$Nav
	$Gradient Floods
	$Skrollr
	$Scenes
		$Intro
		$Part1
		$Part2
		$Part3
		$Part4
	$Intermissions
		$Intermission1
		$Intermission2
		$Intermission3
		$Intermission4
	$Media Queries
================================================== */





/* $PALETTE
================================================== */

	.palette-near-black				{ color: #17191D; }
	.palette-dark-grey				{ color: #2A2C31; }
	.palette-deep-purple,
	.headline .palette-deep-purple	{ color: #351330; }
	.palette-sort-of-lavender 		{ color: #424254; }
	.palette-kind-of-cyan			{ color: #64908A; }
	.palette-light-tan				{ color: #E8CAA4; }
	.palette-blood-red,
	.headline .palette-blood-red 	{ color: #700700; }





/* $FONTS
================================================== */

Merriweather
Old Standard TT
PT Serif
League Gothic

@font-face {
    font-family: 'League Gothic', Copperplate, 'Copperplate Gothic Light', fantasy;
    src: url('../typefaces/leaguegothic-regular-webfont.eot');
    src: url('../typefaces/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/leaguegothic-regular-webfont.woff') format('woff'),
         url('../typefaces/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../typefaces/leaguegothic-regular-webfont.svg#League Gothic') format('svg');
    font-weight: normal;
    font-style: normal;

}





/* Reset & $BASICS (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0; }

body {
	background: url("../images/bg-pixel.png") repeat,
				url("../images/bg-pattern.png") repeat;
				/* 80% black; http://bit.ly/15Ycag1 */
	color: #17191D;
	text-align:center;
	font: 16px/21px 'PT Serif', sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	width: 100%;
	height: 100%;
}

.main {
	display:block;
	width: 100%;
	height:auto;
}


section {
	display: none;
	height:100%;
	padding:0;
	height:auto;
	overflow:hidden;
}


/* $TYPOGRAPHY
================================================== */

h1, h2, h3 {
	font-family: 'Old Standard TT', sans-serif;
}

h1 {
	color: #700700;
	font-size: 120px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	z-index: 150;
	margin-bottom: 70px;
}

h1.small {
	font-size: 90px;
	margin-bottom: 40px;
}

h2 {
	font-size: 60px;
	font-weight: 700;
	color: #434343;
	text-transform: uppercase;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 80px;
}

.intermission h2 {
	color: rgba(23, 25, 29, 0.8);
	font-size: 110px;
	line-height: 120px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -5px;
	display: inline-block;
  	text-align: left;
  	margin-bottom: 0;
	margin-top: 0;
	-webkit-mask-image: url("../images/grunge-noise.png");
	-moz-mask-image: url("../images/grunge-noise.png");
	-o-mask-image: url("../images/grunge-noise.png");
	mask-image: url("../images/grunge-noise.png");
}

.intermission h4 {
	color: rgba(23, 25, 29, 0.8);
/*	-webkit-mask-image: url(../images/grunge-noise.png);
	-moz-mask-image: url(../images/grunge-noise.png);
	-o-mask-image: url(../images/grunge-noise.png);
	mask-image: url(../images/grunge-noise.png);*/
}

.intermission h2:before {
	color: #700700;
	font-size: 44px;
	position: absolute;
	vertical-align: top;
	top: 0;
	letter-spacing: 0;
}

#intermission-3.intermission h2 {
	font-size: 90px;
	line-height:100px;
}

#intermission4.intermission h2 {
	display: block;
	-webkit-mask-image: none;
	-moz-mask-image: none;
	-o-mask-image: none;
	mask-image: none;
}

span.lines {
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
}

h3 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	color: #434343;
}

.intermission h3 {
	color: rgba(23, 25, 29, 0.8);
	font-size: 32px;
	line-height: 58px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: -2px;
	-webkit-mask-image: url("../images/grunge-noise.png");
	-moz-mask-image: url("../images/grunge-noise.png");
	-o-mask-image: url("../images/grunge-noise.png");
	mask-image: url("../images/grunge-noise.png");
}
	.intermission .more-button h3:before {
		content: "↞ ";
	}
	.intermission .more-button h3:after {
		content: " ↠";
	}

h4 {
	font-family: 'PT Serif', sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

h5 {
	font-family: 'PT Serif', sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}

p {
	font-family: 'PT Serif', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 21px;
	margin-bottom: 21px;
	color: #17191D;
	text-align: justify;
}

p.white {
	color: #f9f9f9;
}









/* $COMMON STYLES
================================================== */


.action {
	margin-top: 50px;
	padding: 40px 0 20px 0;
	text-align: center;
	border-top: 1px solid #d3d3d3;
}

.action p {
	font-size: 22px;
	font-weight: 600;
	color: #515151;
}

.action p.white {
	color: #ececec;
}

.hidden {
	display: none;
}

.centered { top:0; bottom:0; left:0; right:0; margin:auto; }

.img_wrapper img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    -webkit-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -ms-transition: opacity .1s;
    transition: opacity .1s;
}

.img_wrapper.loaded img {
    opacity: 1;
}

img {
    vertical-align: middle;
}

.hotspot {
	background-repeat: no-repeat;
	position: absolute !important;
	display: block;
	opacity: 0;
}

a.hotspot-link {
	position: absolute;
	display: inline-block;
}

.hotspot.on:hover .flicker {
	visibility: hidden;
}

#skrollr-body {width:100%; height:100%; position:fixed; }

#skrollr-body  div { }

.scene-container {
  position: fixed;
  top: 0!important;
  display: none;
  width: 100%;
  height: 100%;
	-webkit-perspective: 800px;
	 -moz-perspective: 800px;
	  -ms-perspective: 800px;
	   -o-perspective: 800px;
	      perspective: 800px;

	}

.scene-layer {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100%;
	background-color: transparent;
	background-position: center bottom;
	background-repeat: no-repeat;

	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}









/* $NAV
================================================== */

#nav-menu {
	left: 10%;
    top: 50%;
    margin-top: -5%;
	z-index: 999;
    position: fixed;

    opacity: 0;
}

#nav-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1;
}

/* The container */
#nav-menu > ul {
  display: block;
  position: relative;
  width: 80px;
}
/* The list elements which contain the links */
#nav-menu > ul li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* General link styling */
#nav-menu > ul li a {
	/* Layout */
	display: block;
	position: relative;
	margin: 0;
	/* Typography */
	text-align: left;
	padding-right: 10px;
	padding-bottom: 10px;
	font-family: 'League Gothic';
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 24px;
	line-height: 26px;
	font-weight: 400;
	color: #fff;
	opacity: 0.8;
	text-decoration: none !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition: padding-bottom 0.4s ease-in;
  	-moz-transition: padding-bottom 0.4s ease-in;
  	transition: padding-bottom 0.4s ease-in;
}

#nav-menu > ul ul li a {
    font-size: 20px;
    line-height:22px;
}

#nav-menu > ul ul li ul li a {
    font-size: 18px;
    line-height:20px;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

/* The hover state of the menu/submenu links */
#nav-menu > ul li a.active,
#nav-menu > ul li a:hover,
#nav-menu > ul li:hover > a {
  color: #700700;
  opacity: 1;
}


#nav-menu > ul li a.active,
#nav-menu > ul li:hover > a {
	padding-bottom: 20px;
}
#nav-menu > ul ul li ul li:hover > a {
padding-bottom: 10px;
}
/* THE SUBMENUS */
#nav-menu > ul ul {
  position: absolute;
  left: 100%;
  top: -9999px;
  padding-top: 10px;
  opacity: 0;
  margin: 0 0 0 -15px;
  width: 100px;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

#nav-menu > ul ul li ul {
	width: 110px;
}
#nav-menu > ul ul li ul.part1-submenu {
	margin: 0 0 0 -20px;
}
#nav-menu > ul ul li ul.part2-submenu{
	margin: 0 0 0 -10px;
}
#nav-menu > ul ul li ul.part3-submenu {
	margin: 0 0 0 -15px;
}
#nav-menu > ul ul li ul.part4-submenu {
	margin: 0 0 0 -40px;
}

/* Showing the submenu when the user is hovering the parent link */
#nav-menu > ul li:hover > ul {
  top: 0px;
  opacity: 1;
  z-index: 999;
}







/* $GRADIENT FLOODS
================================================== */

.body-gradient-flood {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.left-border {
	float:left;
	height:100%;
	width:5%;
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

	z-index: 666;
}

.right-border {
	float:right;
	height:100%;
	width:5%;
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

	z-index: 666;
}

.gradient-1  /* Floods from start of intro to the end of Part 1 */ {
background: -moz-linear-gradient(top,  rgba(0,0,0,0.95) 0%, rgba(23,25,29,0.93) 10%, rgba(90,12,7,0.9) 25%, rgba(112,7,0,0.9) 30%, rgba(112,7,0,0.85) 75%, rgba(112,7,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.95)), color-stop(10%,rgba(23,25,29,0.93)), color-stop(25%,rgba(90,12,7,0.9)), color-stop(30%,rgba(112,7,0,0.9)), color-stop(75%,rgba(112,7,0,0.85)), color-stop(100%,rgba(112,7,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.95) 0%,rgba(23,25,29,0.93) 10%,rgba(90,12,7,0.9) 25%,rgba(112,7,0,0.9) 30%,rgba(112,7,0,0.85) 75%,rgba(112,7,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.95) 0%,rgba(23,25,29,0.93) 10%,rgba(90,12,7,0.9) 25%,rgba(112,7,0,0.9) 30%,rgba(112,7,0,0.85) 75%,rgba(112,7,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.95) 0%,rgba(23,25,29,0.93) 10%,rgba(90,12,7,0.9) 25%,rgba(112,7,0,0.9) 30%,rgba(112,7,0,0.85) 75%,rgba(112,7,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.95) 0%,rgba(23,25,29,0.93) 10%,rgba(90,12,7,0.9) 25%,rgba(112,7,0,0.9) 30%,rgba(112,7,0,0.85) 75%,rgba(112,7,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#00700700',GradientType=0 ); /* IE6-9 */
	/* Spotlight gradient from .palette-near-black to .palette-blood-red: http://www.colorzilla.com/gradient-editor/#000000+0,17191d+10,700700+30,700700+100&0.95+0,0.9+25,0.85+75,0+100;Custom */
}

.gradient-2  /* Floods from the start to the end of Part 2 */ {
background: -moz-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(23,25,29,0.9) 15%, rgba(53,19,48,0.8) 75%, rgba(112,7,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(15%,rgba(23,25,29,0.9)), color-stop(75%,rgba(53,19,48,0.8)), color-stop(100%,rgba(112,7,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(23,25,29,0.9) 15%,rgba(53,19,48,0.8) 75%,rgba(112,7,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(23,25,29,0.9) 15%,rgba(53,19,48,0.8) 75%,rgba(112,7,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(23,25,29,0.9) 15%,rgba(53,19,48,0.8) 75%,rgba(112,7,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.9) 0%,rgba(23,25,29,0.9) 15%,rgba(53,19,48,0.8) 75%,rgba(112,7,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#700700',GradientType=0 ); /* IE6-9 */
	/* http://www.colorzilla.com/gradient-editor/#000000+0,17191d+25,351330+75,700700+100&0.9+0,0.9+25,0.8+75,1+100;Custom */
}

.gradient-3  /* Floods from the start to the end of Part 3 */ {
background: -moz-linear-gradient(top,  rgba(112,7,0,0.6) 0%, rgba(53,19,48,0.6) 25%, rgba(53,19,48,0.6) 75%, rgba(0,0,0,0.25) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,7,0,0.6)), color-stop(25%,rgba(53,19,48,0.6)), color-stop(75%,rgba(53,19,48,0.6)), color-stop(100%,rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(112,7,0,0.6) 0%,rgba(53,19,48,0.6) 25%,rgba(53,19,48,0.6) 75%,rgba(0,0,0,0.25) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(112,7,0,0.6) 0%,rgba(53,19,48,0.6) 25%,rgba(53,19,48,0.6) 75%,rgba(0,0,0,0.25) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(112,7,0,0.6) 0%,rgba(53,19,48,0.6) 25%,rgba(53,19,48,0.6) 75%,rgba(0,0,0,0.25) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(112,7,0,0.6) 0%,rgba(53,19,48,0.6) 25%,rgba(53,19,48,0.6) 75%,rgba(0,0,0,0.25) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#700700', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
	/* Spotlight gradient from .palette-blood-red to .palette-deep-purple: http://www.colorzilla.com/gradient-editor/#700700+0,351330+25,351330+75,000000+100&1+0,0.6+25,0.6+75,0.25+100;Custom */

}

.gradient-4  /* Floods from the start to the end of Part 4 */ {
background: -moz-linear-gradient(top, rgba(66,66,84,0.75) 0%, rgba(66,66,84,0.5) 25%, rgba(23,25,29,0.5) 75%, rgba(0,0,0,0.25) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,66,84,0.75)), color-stop(25%,rgba(66,66,84,0.5)), color-stop(75%,rgba(23,25,29,0.5)), color-stop(100%,rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(66,66,84,0.75) 0%,rgba(66,66,84,0.5) 25%,rgba(23,25,29,0.5) 75%,rgba(0,0,0,0.25) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(66,66,84,0.75) 0%,rgba(66,66,84,0.5) 25%,rgba(23,25,29,0.5) 75%,rgba(0,0,0,0.25) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(66,66,84,0.75) 0%,rgba(66,66,84,0.5) 25%,rgba(23,25,29,0.5) 75%,rgba(0,0,0,0.25) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(66,66,84,0.75) 0%,rgba(66,66,84,0.5) 25%,rgba(23,25,29,0.5) 75%,rgba(0,0,0,0.25) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf424254', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
	/* Spotlight gradient from .palette-sort-of-lavender to .palette-near-black: http://www.colorzilla.com/gradient-editor/#424254+0,424254+25,17191d+75,000000+100&0.75+0,0.5+25,0.5+75,0.25+100;Custom */
}








/* $SCENES
================================================== */

.scene {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0;
	z-index: 2;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.city {
	position: relative!important;
}

.citylights-master {
	display: inherit;
}






/* $INTRO
================================================== */

.scene.intro {
	min-height: 900px !important;
}

.intro .container {
	min-height: inherit;
	position: relative;
	z-index: 2 !important;
	background: -moz-radial-gradient(center, ellipse cover, rgba(112,7,0,0.3) 0%, rgba(0,0,0,0) 80%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(112,7,0,0.3)), color-stop(80%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(112,7,0,0.3) 0%,rgba(0,0,0,0) 80%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(112,7,0,0.3) 0%,rgba(0,0,0,0) 80%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(112,7,0,0.3) 0%,rgba(0,0,0,0) 80%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(112,7,0,0.3) 0%,rgba(0,0,0,0) 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d700700', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	/* spotlight gradient: http://www.colorzilla.com/gradient-editor/#700700+0,000000+80&0.4+0,0.7+80;Custom */
}

.intro .intro-face {
	height: 430px;
	width: 420px;
	margin: -42px auto 0;
	z-index: 3;
	position: relative;
}

	.intro .intro-face .intro-face-complete {
		background: url("../images/face-complete.png") no-repeat;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 4;
		opacity: 0.8;
	}

	.intro .intro-face .intro-face-glow {
		background: url("../images/face-glow.png") no-repeat;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		opacity: 1;
	}

	.intro .intro-face img.intro-face-lefteye {
		position: absolute;
		height: 21px;
		width: 52px;
		top: 234px;
		left: 95px;
		z-index: 6;
		opacity: 1;
	}


	.intro .intro-face img.intro-face-righteye {
		position: absolute;
		height: 22px;
		width: 55px;
		top: 232px;
		right: 108px;
		z-index: 6;
		opacity: 1;
	}



.intro .title {
	position: absolute;
	margin-top: -244.5px;
	margin-left: -210.5px;
	top:50%;
	left:50%;
	height:auto;
	text-align: center;
	font-style: italic;
	z-index: 6;

}

.quote, .loading-text {
	color: #FDFEFF;
	text-align: center;
}
.quote {
	font-style: italic;
}

.quote.sub {
	color: #707072;
	text-align: center;
}

.loading-text {
	text-transform: uppercase;
	font-family: 'League Gothic';
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}

.loading {
	margin:-15px 0 0;
}

/* $anim - slight push on the logo at the start */
#title-logo {
	margin:30px auto;
	display: block;
	width: 421px;
	height: 191px;
	background: url("../images/intro-title-blue.png");
	}

	#title-logo .loading-ready {
		height: 100%;
		width: 100%;
		opacity: 0;
		background: url("../images/intro-title-red.png");
	}

/************** progress bar ***********/
.loading-bar .progress {
		height: 100%;
		color: #fff;
		text-align: right;
		line-height: 34px; /* same as #loading-bar height if we want text middle aligned */
		width: 0px;
}

.progress {
	background:url("../images/loading-bar-mask-red.png");
	/*background-color:#888888;*/
}

.ready-arrow {
	/*cursor: pointer;*/
	margin: 20px auto;
	width: 42px;
	height: 42px;
	display: none;
	background-image:url("../images/ready-arrow.png");
}

.faust-falling {
	left: 50%;
	margin-left: -250px;
	z-index: 150;
	position: fixed;
	display: none;
    width: 500px;
    height: 378px;
    background: url("../images/sprite-faust-falling.png") no-repeat;
    -webkit-animation: faustsprite 1.5s steps(18) infinite alternate, faustwobble 8s 6s infinite alternate;
       -moz-animation: faustsprite 1.5s steps(18) infinite alternate, faustwobble 8s 6s infinite alternate;
        -ms-animation: faustsprite 1.5s steps(18) infinite alternate, faustwobble 8s 6s infinite alternate;
         -o-animation: faustsprite 1.5s steps(18) infinite alternate, faustwobble 8s 6s infinite alternate;
            animation: faustsprite 1.5s steps(18) infinite alternate, faustwobble 8s 6s infinite alternate;
}

	/* faust-falling.png - 18 frames @ 12fps = 1.5s over 9000px / 500x378 */
	@-webkit-keyframes faustsprite {
	   from { background-position:    0px; }
	    to { background-position: -9000px; }
	}

	@-moz-keyframes faustsprite {
	   from { background-position:    0px; }
	    to { background-position: -9000px; }
	}

	@-ms-keyframes faustsprite {
	   from { background-position:    0px; }
	    to { background-position: -9000px; }
	}

	@-o-keyframes faustsprite {
	   from { background-position:    0px; }
	    to { background-position: -9000px; }
	}

	@keyframes faustsprite {
	   from { background-position:    0px; }
	    to { background-position: -9000px; }
	}

	@-webkit-keyframes faustgrow {
	   from { -webkit-transform:scale(1.0); }
	   to { -webkit-transform:scale(0.9); }
	}

	@-moz-keyframes faustgrow {
	   from { -moz-transform:scale(1.0); }
	   to { -moz-transform:scale(0.9); }
	}

	@-ms-keyframes faustgrow {
	   from { -ms-transform:scale(1.0); }
	   to { -ms-transform:scale(0.9); }
	}

	@-o-keyframes faustgrow {
	   from { -o-transform:scale(1.0); }
	   to { -o-transform:scale(0.9); }
	}

	@keyframes faustgrow {
	   from { transform:scale(1.0); }
	   to { transform:scale(0.9); }
	}

	@-webkit-keyframes faustwobble {
		20% { -webkit-transform: rotate(3deg); }
		40% { -webkit-transform: rotate(-5deg); }
		60% { -webkit-transform: rotate(2deg); }
		80% { -webkit-transform: rotate(-2deg); }
		100% { -webkit-transform: rotate(0deg); }
	}

	@-moz-keyframes faustwobble {
		20% { -moz-transform: rotate(3deg); }
		40% { -moz-transform: rotate(-5deg); }
		60% { -moz-transform: rotate(2deg); }
		80% { -moz-transform: rotate(-2deg); }
		100% { -moz-transform: rotate(0deg); }
	}

	@-ms-keyframes faustwobble {
		20% { -ms-transform: rotate(3deg); }
		40% { -ms-transform: rotate(-5deg); }
		60% { -ms-transform: rotate(2deg); }
		80% { -ms-transform: rotate(-2deg); }
		100% { -ms-transform: rotate(0deg); }
	}

	@-o-keyframes faustwobble {
		20% { -o-transform: rotate(3deg); }
		40% { -o-transform: rotate(-5deg); }
		60% { -o-transform: rotate(2deg); }
		80% { -o-transform: rotate(-2deg); }
		100% { -o-transform: rotate(0deg); }
	}

	@keyframes faustwobble {
		20% { transform: rotate(3deg); }
		40% { transform: rotate(-5deg); }
		60% { transform: rotate(2deg); }
		80% { transform: rotate(-2deg); }
		100% { transform: rotate(0deg); }
	}











/* $PART1
================================================== */

.scene.part1 {
	height: 8000px;
	width: 100%;
	overflow: hidden;
}

.city-pre {
	width: 100%;
	height: 2400px;
	margin-top: -2400px;
}

.intro-spotlights {
	position: absolute;
	top: 0;
	width: 100%;
	height: 120%;
}
	img.spotlight-left-outer {
	position: absolute;
		top: -100px;
		left: -5%;
		height: 200%;
	}
	img.spotlight-left-inner {
	position: absolute;
		top: -100px;
		height: 180%;
		left: 5%;
		opacity: 0.6;
	}
	img.spotlight-right-outer {
	position: absolute;
		top: -100px;
		right: -5%;
		height: 200%;
	}
	img.spotlight-right-inner {
	position: absolute;
		top: -100px;
		height: 180%;
		right: 5%;
		opacity: 0.6;
	}

.city {
	width: 100%;
	display: none;
	height: 8000px;
	position: absolute;
}

.scene1-layer {
	opacity: 0;
	height: 100%;
	position: inherit;
	background-size: contain !important;
	background-position: center bottom;
	background-color: transparent;
	background-repeat: no-repeat;
}

.city-centre-back,
.city-left-back,
.city-right-mid,
.city-left-mid,
.city-right-fore,
.city-left-fore {
	background-repeat: no-repeat;
	display: inherit;
	position: inherit;
	width: 1255px;
	bottom: 0;
}

.city-centre-back {
	z-index: 11;
	margin: 0 auto;
	background:url("../images/city-centre-back.png");
}

.city-left-back {
	z-index: -1;
	left: 0;
	background:url("../images/city-left-back.png");
}

.city-right-mid {
	z-index: 12;
	right: 0;
	background:url("../images/city-right-mid.png");
}

.city-left-mid {
	z-index: 13;
	left: 0;
	background:url("../images/city-left-mid.png");
}

.city-right-fore {
	z-index: 14;
	right: 0;
	background:url("../images/city-right-fore.png");
}

.city-left-fore {
	z-index: 15;
	left: 0;
	background:url("../images/city-left-fore.png");
}

	.hotspot.sixsixsix {
		right: 14px;
		bottom: 414px;
		width: 225px;
		height: 354px;
	}
		.hotspot.sixsixsix.on {
			z-index: 100;
			background: url("../images/city-hotspot-666-on.png");
		}
		.hotspot.sixsixsix.off {
			display: block;
			opacity: 1;
			background: url("../images/city-hotspot-666-off.png");
		}

	.hotspot.apartment {
		right:583px;
		width:66px;
		bottom:290px;
		height:135px;
	}
		.hotspot.apartment.on {
			z-index: 100;
			background: url("../images/city-hotspot-apartment-on.png");
		}
		.hotspot.apartment.off {
			display: block;
			opacity: 1;
			background: url("../images/city-hotspot-apartment-off.png");
		}

	.hotspot.hotel {
		left: 64px;
		bottom: 500px;
		height: 344px;
		width: 150px;
	}
		.hotspot.hotel.on {
			z-index: 100;
			background: url("../images/city-hotspot-hotel-on.png");
		}
		.hotspot.hotel.off {
			display: block;
			opacity: 1;
			background: url("../images/city-hotspot-hotel-off.png");
		}

	.hotspot.radio {
		left: 193px;
		bottom: 55px;
		width: 90px;
		height: 300px;
	}
		.hotspot.radio.on {
			z-index: 100;
			background: url("../images/city-hotspot-radio-on.png");
		}
		.hotspot.radio.off {
			display: block;
			opacity: 1;
			background: url("../images/city-hotspot-radio-off.png");
		}







/* $PART2
================================================== */
.scene.part2 {
	height: 10000px;
}

.room .cityscape-master {
	width: 1440px !important;
	height: 600px !important;
	display: none;
	position: absolute;
	background-repeat: no-repeat;
	z-index: 15;

}
	.cityscape-master .citylights-master {
		width: 100%;
		height: 100%;
		display: none;
		position: absolute;
		background: url("../images/room-citylights-master.png");
		background-position: 50% 100%;

		z-index: 16;
	}

	.cityscape-master .sparklelights1-master {
		width: 100%;
		height: 100%;
		display: none;
		position: absolute;
		background: url("../images/room-sparklelights1-master.png");
		background-position: 50% 40%;

		z-index: 16;
	}

	.cityscape-master .sparklelights2-master {
		width: 100%;
		height: 100%;
		display: none;
		position: absolute;
		background: url("../images/room-sparklelights2-master.png");
		background-position: 50% 50%;

		z-index: 16;
	}

	.tower-sprite {
		background: url("../images/sprite-radio-waves.png");
		opacity:0;
		position: absolute !important;
		display: block;
		top: 50px;
		left:-320px;
	    width: 125px;
	    height: 125px;
	    -webkit-animation: radiosprite 1s steps(12) infinite;
	       -moz-animation: radiosprite 1s steps(12) infinite;
	        -ms-animation: radiosprite 1s steps(12) infinite;
	         -o-animation: radiosprite 1s steps(12) infinite;
	            animation: radiosprite 1s steps(12) infinite;

		z-index: 100;
		}

		/* radio-waves.png - 12 frames @ 12fps = 1s over 9000px / 250x250 */
		@-webkit-keyframes radiosprite {
		   from { background-position:    0px; }
		    to { background-position: -1500px; }
		}

		@-moz-keyframes radiosprite {
		   from { background-position:    0px; }
		    to { background-position: -1500px; }
		}

		@-ms-keyframes radiosprite {
		   from { background-position:    0px; }
		    to { background-position: -1500px; }
		}

		@-o-keyframes radiosprite {
		   from { background-position:    0px; }
		    to { background-position: -1500px; }
		}

		@keyframes radiosprite {
		   from { background-position:    0px; }
		    to { background-position: -1500px; }
		}

.room .window-master {
	position: absolute;
	display: inherit;
	width: 2300px !important;
	height: 1785px !important;
	background: url("../images/room-window-master.png");

	z-index: 22;

	}

.room .room-master {
	position: absolute;
	display: inherit;
	width: 1920px !important;
	height: 1785px !important;
	background: url("../images/room-master.png");

		z-index: 24;
	}

	.couch-salome-sprite {
		background: url("../images/sprite-smoke.png");
		opacity:0;
		position: absolute;
		display: inherit;
		top: -170px;
		left: 330px;
		width: 250px;
	    height: 300px;
	    -webkit-animation: smokesprite 3s steps(36) alternate infinite;
	       -moz-animation: smokesprite 3s steps(36) alternate infinite;
	        -ms-animation: smokesprite 3s steps(36) alternate infinite;
	         -o-animation: smokesprite 3s steps(36) alternate infinite;
	            animation: smokesprite 3s steps(36) alternate infinite;

		z-index: 28;
	}
		@-webkit-keyframes smokesprite {
		   from { background-position:    0px; }
		   to { background-position: -9000px; }
		}

		@-moz-keyframes smokesprite {
		   from { background-position:    0px; }
		   to { background-position: -9000px; }
		}

		@-ms-keyframes smokesprite {
		   from { background-position:    0px; }
		   to { background-position: -9000px; }
		}

		@-o-keyframes smokesprite {
		   from { background-position:    0px; }
		   to { background-position: -9000px; }
		}

		@keyframes smokesprite {
		   from { background-position:    0px; }
		   to { background-position: -9000px; }
		}

.room .mephisto-master {
	left: 0;
	position: absolute;
	display: inherit;
	width: 300px !important;
	height: 1785px !important;
	background: url("../images/room-mephisto-master.png");

	z-index: 25;
}

.room .faust-master {
	right: 0;
	position: absolute;
	display: inherit;
	width: 580px !important;
	height: 1785px !important;
	background: url("../images/room-faust-master.png");

	z-index: 26;
}








/* $PART3
================================================== */

.scene.part3 {
	height: 10000px;
}

	.alley {
		background-repeat: no-repeat;
		}

		.alley-master {
		display: none;
		position: absolute;
		width: 100% !important;
		height: 1825px !important;
		background: url("../images/alley-master.jpg");

		z-index: 5;
	}

	.alley .alley-streetlight-top {
		top:0;
		right: 0;
		display: none;
		position: absolute;
		width: 128px;
		height: 640px;
		background: url("../images/alley-streetlight-top.png");

		z-index: 20;
	}


	.alley .alley-rain {
		background-size: cover;
		position: absolute;
	    display: block;
	    width: 100%;
	    height: 100%;
	    opacity: 1;

		-webkit-animation-direction: normal !important;
				animation-direction: normal !important;
}
	.alley .alley-rain.rain-one {
		background: url("../images/alley-rain-long.png");
		z-index: 22;
		-webkit-animation: rainsimple 13s 0.5s infinite;
	            animation: rainsimple 13s 0.5s infinite;
	}
	.alley .alley-rain.rain-two {
		background: url("../images/alley-rain-long-fade.png");
		z-index: 23;
		-webkit-animation: rainsimple 25s 1.5s infinite;
	            animation: rainsimple 25s 1.5s infinite;

	}

	@keyframes rainsimple {
		0% {
			background-position: 50% 0%;
			opacity: 0;
		}
		50%{
			opacity: 1;
		}
		80%{
			opacity: 0.5;
		}
		100% {
			background-position: 50% 100%;
			opacity: 0;
		}
	}

	@-webkit-keyframes rainsimple {
		0% {
			background-position: 50% 0%;
			opacity: 0;
		}
		50%{
			opacity: 1;
		}
		80%{
			opacity: 0.5;
		}
		100% {
			background-position: 50% 100%;
			opacity: 0;
		}
}









/* $PART4
================================================== */

.scene.part4 {
	height: 10000px;
}

.part4 .spot-gradient {
	width: 100%;
	height: inherit;
	position: relative;
	z-index: 2 !important;
	background: -moz-radial-gradient(center, ellipse cover, rgba(66,66,84,0.6) 0%, rgba(66,66,84,0.2) 50%, rgba(66,66,84,0) 75%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(66,66,84,0.6)), color-stop(50%,rgba(66,66,84,0.2)), color-stop(75%,rgba(66,66,84,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(66,66,84,0.6) 0%,rgba(66,66,84,0.2) 50%,rgba(66,66,84,0) 75%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(66,66,84,0.6) 0%,rgba(66,66,84,0.2) 50%,rgba(66,66,84,0) 75%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(66,66,84,0.6) 0%,rgba(66,66,84,0.2) 50%,rgba(66,66,84,0) 75%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(66,66,84,0.6) 0%,rgba(66,66,84,0.2) 50%,rgba(66,66,84,0) 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99424254', endColorstr='#00424254',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	/* http://www.colorzilla.com/gradient-editor/#424254+0,424254+50&0.6+0,0+75;Custom */
}

.night {
	background-repeat: no-repeat;
}

	.night .moon {
		display: none;
		position: absolute;
		width: 1065px;
		height: 1058px;
		left:200px;
		z-index: 5;
		background: url("../images/moon-moon.png");
	}

	.night .city-bg {
		display: none;
		position: absolute;
		width: 1330px;
		height: 930px;
		z-index: 32;
		background: url("../images/moon-citybg.png");
	}


	.night .clouds {
		display: block;
		position: absolute;
		width: 996px;
		height: 1010px;
		background: url("../images/moon-clouds.png");
		-webkit-animation-direction: normal !important;
				animation-direction: normal !important;
	}

		.night .clouds.cloudcruise-one {
		z-index: 24;
		top:0;
		-webkit-animation: cloudcruise 90s 0.5s infinite;
		-moz-animation: cloudcruise 90s 0.5s infinite;
		-ms-animation: cloudcruise 90s 0.5s infinite;
		-o-animation: cloudcruise 90s 0.5s infinite;
		animation: cloudcruise 90s 0.5s infinite;
		}

		.night .clouds.cloudcruise-two {
		z-index: 23;
		top:20%;
		-webkit-animation: cloudcruise 120s 1s infinite;
		-moz-animation: cloudcruise 120s 1s infinite;
		-ms-animation: cloudcruise 120s 1s infinite;
		-o-animation: cloudcruise 120s 1s infinite;
		animation: cloudcruise 120s 1s infinite;
		}

		.night .clouds.cloudcruise-three {
		z-index: 22;
		top:30%;
		-webkit-animation: cloudcruise 140s 2s infinite;
		   -moz-animation: cloudcruise 140s 2s infinite;
			-ms-animation: cloudcruise 140s 2s infinite;
			 -o-animation: cloudcruise 140s 2s infinite;
				animation: cloudcruise 140s 2s infinite;
		}

	@-webkit-keyframes cloudcruise {
		0% {
			-webkit-transform: translate3d(-125%, 0, 0);
		}
		100% {
			-webkit-transform: translate3d(125%, 0, 0);
		}
	}

	@-moz-keyframes cloudcruise {
		0% {
			-moz-transform: translate3d(-125%, 0, 0);
		}
		100% {
			-moz-transform: translate3d(125%, 0, 0);
		}
	}

	@-ms-keyframes cloudcruise {
		0% {
			-ms-transform: translate3d(-125%, 0, 0);
		}
		100% {
			-ms-transform: translate3d(125%, 0, 0);
		}
	}

	@-o-keyframes cloudcruise {
		0% {
			-o-transform: translate3d(-125%, 0, 0);
		}
		100% {
			-o-transform: translate3d(125%, 0, 0);
		}
	}

	@keyframes cloudcruise {
		0% {
			transform: translate3d(-125%, 0, 0);
		}
		100% {
			transform: translate3d(125%, 0, 0);
		}
	}


	.night .couple {
		display: none;
		position: absolute;
		width: 485px;
		height: 1175px;
		z-index: 33;
		left: 35%;
		background: url("../images/moon-couple.png");
	}












/* $INTERMISSIONS
================================================== */
section.intermission {
	display:block!important;
	width: 100%;
	height:100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0;
	z-index: 2;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.intermission-main {
	max-height:675px;
	padding: 50px 0 10px;
	background: url("../images/newspaper-tile.jpg") 0px -2px repeat;
}
.intermission-content {
	overflow: hidden;
}
.intermission footer, .intermission header {
	background-image: url("../images/sprite-newspaper.png");
}

.intermission header {
	height: 19px;
	background-position: 0px 1px;
}

.intermission footer {
	height: 55px;
	background-position: 0px -30px;
}

.intermission .headlines {
	display: block;
	overflow: hidden;
	padding:20px 0;
}

.intermission .headline {
	width: 100%;
	display: block;
}

.headline h2 {
	line-height: 0.76em;
}

.headline h3 {
	line-height: 0.8em;
}

.headline.title h4 {
	line-height: 1em;
}

.headline.left{
	text-align: right;
	width:20%;
}

.headline.right {
	text-align: left;
	width:80%;
}

.headline.title h2, .headline.title h4 {
	text-align: center;
}

.headline.left, .headline.right {
	float:left;
}

.news-lines {
	display: block;
	overflow:hidden;
	height: 2px;
	width: 100%;
	margin: 0 auto;
	border-top: 3px solid rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.news-lines.inner {
	width: 100%;
}

.narrative-text {
	margin: 42px 0;
}

.more-button {
	text-align: center;
}








/* $INTERMISSION1
================================================== */

#intermission1 {
	/*height: 675px;  Hide information-text just off-screen */
}





/* $INTERMISSION2
================================================== */

#intermission2 {
	/*height: 675px;  Hide information-text just off-screen */
}









/* $INTERMISSION3
================================================== */

#intermission3 {
	/*height: 675px;  Hide information-text just off-screen */
}

.date {
	width: 50%;
	float:left;
}

.date p {
	margin: 0px;
}

.date.left p {
	padding-left:100px;
	text-align: left;
}

.date.right p {
	padding-right: 100px;
	text-align: right;
}

.faust-article-left h3 {
	font-variant: small-caps;
	-webkit-mask-image: none;
	-moz-mask-image: none;
	-o-mask-image: none;
	mask-image: none;
	display: block;
	line-height: 26px;
	text-transform: none;

}

.faust-article-left h3:before,
.faust-article-left h3:after {
	content: "";
}

.faust-article-left .date {
	font-style: italic;
	text-align: center;
	font-size: 15px;
	margin-top: 21px;
	border-top: 2px solid rgba(0, 0, 0, 0.5);
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.faust-article-left .article-excerpt {
	font-size: 22px;
	line-height: 24px;
	text-align: center;
	font-style: italic;
}

.faust-article-left .article-excerpt:before {
	font-size: 28px;
	content: '“ ';
	top: 0;
	left: 0;
}
.faust-article-left .article-excerpt:after {
	font-size: 28px;
	content: ' ”';
	bottom: 0;
	right: 0;
}

.intermission img {
	opacity: 0.8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'old-timey\'><feColorMatrix type=\'matrix\' values=\'0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0\'/></filter></svg>#old-timey");
    -webkit-filter: sepia(1);
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -ms-filter: sepia(100%);
    -o-filter: sepia(100%);
    filter: sepia(100%);
}

.intermission img:hover {
	opacity: 1;
	filter: none;
    -webkit-filter: sepia(0);
    -moz-filter: sepia(0);
    -ms-filter: sepia(0);
    -o-filter: sepia(0);
    filter: sepia(0);
}

.faust-article-right blockquote {
	margin-top: -5px;
	padding: 5px;
	background: rgba(255,255,255,0.5);
}

.faust-article-right blockquote p {
	text-align: center;
	color: #351330;
	margin-bottom: 0;
}




/* $INTERMISSION4
================================================== */
.intermission.four .headline {
	float:left;
}

/* @TODO: put in real bg images*/
.intermission.four .intermission-main {
	background: #222;
}

.intermission.four header {
	background: #222;
}

.intermission.four footer {
	background: #222;
}

.intermission.four .intermission-main, .intermission.four .intermission-main p {
	color: white;
}

.intermission.four .headline.left {
	width: 30%;
}

.intermission.four .headline.right {
	text-align: left;
	width: 70%;
}

.contact, .credits{
	margin-top: 50px;
}

.contact {
	overflow: hidden;
}

/* overwrites the margin that column class puts in*/
.columns.first-contact, .columns.second-contact {
	margin-left:0px;
}
.columns.first-contact li, .columns.second-contact li {
	line-height:2.5em;
}

/*============= NEWSLETTER FORM ===========*/
input {
	border: 1px solid #fff!important;
	background: #110F10!important;
}
.message {
	width: 448px !important;
	height:60px !important;
}
.indicates-required {
	float: right;
}

input.button {
	float: right;
}

/*================= Social ==================*/
ul.social {
	margin: 0 10px;
	padding-top: 15px;
	display: block;
	overflow: hidden;
	width: 100%;
	text-align: left;
}

ul.social li {
	display: block;
	margin-right:10px;
	width: 40px;
	height: 40px;
	text-indent: -999em;
	overflow: hidden;
	float: left;
	background-image: url("../images/sprite-social.png");
}

.social li:hover {
	opacity: 0.7;
}

li.twitter{
	background-position: -1px -1px;
}
li.twitter:hover{
	background-position: -1px -1px;
}

li.facebook {
	background-position: -1px -100px;
}

li.instagram {
	background-position: -1px -246px;
}

li.vimeo {
	background-position: -1px -197px;
}

li.soundcloud {
	background-position: -1px -149px;
}

li.pinterest {
	background-position: -1px -50px;
}

/*================= Credits ==================*/
ul.credits {
	overflow: hidden;
}

ul.credits p {
	margin: auto;
	overflow: hidden;
}

.alphacrucis p {
	width: 335px;
}

.invisible-artists p {
	width: 330px;
}

.gina-kiel p {
	width: 352px;
}

.drawing-book p {
	width: 328px;
}

.columns.credit {
	margin: 0px;
}

.credit .logo {
	display: block;
	margin: 0 5px;
	height:62px;
	background: url("../images/credit-sprites.png") no-repeat;
}

.alphacrucis.logo {
	width:143px;
	background-position: 1px 1px;
}

.invisible-artists.logo {
	width:124px;
	background-position: 1px -73px;
}

.gina-kiel.logo {
	width:55px;
	background-position: 1px -136px;
}

.drawing-book.logo {
	width:68px;
	background-position: 1px -198px;
}

.credit span {
	line-height: 62px;
	float:left;
}
.credit .logo {
	text-indent: -999em;
}





/* $MEDIA QUERIES
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {

		.intro .bg1 {
			background-size: cover;
		}

		.title {
			position: relative;
		}

		.intro {
			height: 500px;
		}

		.title {
			padding-top: 20px;
		}

		h1 {
			font-size: 100px;
			margin-bottom: 60px;
		}
		h1.small {
			font-size: 80px;
			margin-bottom: 20px;
		}

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		h1 {
			font-size: 70px;
			margin-bottom: 20px;
		}

		h1.small {
			font-size: 40px;
			margin-bottom: 20px;
		}

		.title p {
			font-size: 20px;
			line-height: 28px;
		}

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		.intro {
			height: 430px;
		}

		.title {
			position: relative;
			padding-top: 30px;
		}

		.intro-line {
			display: none;
		}

		h1 {
			font-size: 60px;
			margin-bottom: 20px;
		}

		h1.small {
			font-size: 30px;
			margin-bottom: 20px;
		}

		.title p {
			font-size: 18px;
			line-height: 28px;
		}

	}