	<perch:if exists="feature-image">
		<div class="article-feature-image">
		  	<img src="<perch:content type="image" id="feature-image" label="Image" width="620" />" alt="<perch:content type="text" id="featureimageal" label="Description" required="false" help="A caption for the feature image" title="true" />" />
			</div>
	</perch:if>
	<aside class="pull-quote">
		<blockquote>
			<p class="article-pull-quote"><perch:content id="pull-quote" type="text" label="Pull-Quote" textile="true" editor="markitup" required="true" words="20" help="A pull quote to appear within the blog post" /></p>
		</blockquote>
	</aside>
	<p class="article-content"><perch:content id="body" type="textarea" label="Body" textile="true" editor="markitup" required="true" help="Your blog post" /></p>












